<div class="page-container" aria-label="fullscreen-main-content">
  <div class="spacer"></div>
  <mat-card [@fadeInUp] class="form-body">

    <mat-card class="form-logo">
      <img src="/assets/logo.svg" alt="logo">
    </mat-card>
    <h1>Create a new Account</h1>
    <form>
      <mat-form-field class="example-full-width">
        <input name="email" matInput placeholder="Email" [formControl]="emailFormControl">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="password-inputs">
        <input name="password" [formControl]="passwordFormControl" matInput placeholder="Enter your password" type="password">
        <mat-error *ngIf="passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
          Password must be at least 6 characters long
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Password is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>


      <section class="checkbox-group">
        <div class="checkbox-container">
          <mat-checkbox name="terms-box" color="primary" [(ngModel)]="checkedPrivacyTerms">
            <p>
              I know to the
              <a href="https://firebase.google.com/support/privacy/">Privacy Policy</a>
              and <a href="https://firebase.google.com/terms/">Terms</a> of Firebase.
            </p>
          </mat-checkbox>
        </div>
      </section>

      <div class="login-button-group">
        <button type="submit" (click)="signUp()" mat-flat-button color="primary" class="w-100"> SIGN UP </button>
      </div>
    </form>

    <p class="have-account">Already have an account ?
      <a (click)="navigateLogin.emit()">Sign In</a>
    </p>


  </mat-card>

</div>