<app-appointment [model]="a"></app-appointment>
<app-appointment [model]="a"></app-appointment>

<app-appointment [model]="a"></app-appointment>
<app-appointment [model]="a"></app-appointment>
<app-appointment [model]="a"></app-appointment>
<app-appointment [model]="a"></app-appointment>
<app-appointment [model]="a"></app-appointment>
<app-appointment [model]="a"></app-appointment>
<app-appointment [model]="a"></app-appointment>
<app-appointment [model]="a"></app-appointment>
<app-appointment [model]="a"></app-appointment>
<app-appointment [model]="a"></app-appointment>
<app-appointment [model]="a"></app-appointment>
<app-appointment [model]="a"></app-appointment>
<app-appointment [model]="a"></app-appointment>
<app-appointment [model]="a"></app-appointment>
<app-appointment [model]="a"></app-appointment>
<app-appointment [model]="a"></app-appointment>
<app-appointment [model]="a"></app-appointment>
<app-appointment [model]="a"></app-appointment>
<app-appointment [model]="a"></app-appointment>


<button mat-fab class="fab">
  <mat-icon>add</mat-icon>
</button>