<div class="container">
  <h1>Calendar</h1>
  <mat-divider></mat-divider>

  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let e of events">
      <h4 mat-line>{{e.title}}</h4>
      <p mat-line *ngIf="e.startDate.toString() !== 'Invalid Date'"> {{e.startDate | date}} </p>
      <a mat-icon-button matTooltip="Delete event" (click)="deleteEvent(e.id)">
        <mat-icon>delete_forever</mat-icon>
      </a>
      <a mat-icon-button target="_blank" rel="noopener noreferrer" [href]="e.htmlLink" matTooltip="Open in Google Calendar">
        <mat-icon>open_in_new</mat-icon>
      </a>
    </mat-list-item>
  </mat-list>
</div>