/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
  background-color: #2f2f2f;
}

.flex-spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: #11bdf7;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.w-100 {
  width: 100%;
}

.dark-snackbar {
  background-color: #424242; 
}

@media (min-width: 720px) {
  ::-webkit-scrollbar {
    width: 12px;
    border: 1px solid #424242;
  }
  ::-webkit-scrollbar-thumb {
    background: #67edae;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #67edaeaa;
  }
}
