<mat-card class="appointment-list-item">
  <mat-card-header>
    <div mat-card-avatar class="header-image" [style.background-image]="'url('+ (model.author.photoURL ? model.author.photoURL : '/assets/account.png' )  + ')'"></div>
    <mat-card-title>{{model.title}}</mat-card-title>
    <mat-card-subtitle>Author: {{model.author.name}} &nbsp;&nbsp;&nbsp;&nbsp; Date: {{model.date | date:'dd MMM yyyy'}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p class="grow">
      {{model.body}}
    </p>
  </mat-card-content>

  <mat-card-actions *ngIf="model.attendees">
    <button color="accent" mat-button (click)="addClicked(model)" class="add-event-btn">
      <mat-icon class="calendar-icon">library_add</mat-icon>
      Add to your Calendar
    </button>
    <mat-chip-list>
      <mat-chip *ngFor="let a of model.attendees;">
        <img class="rounded" [src]="a.photoURL ? a.photoURL : '/assets/account.png'" alt="a.name">
        {{ a.name }}
      </mat-chip>
      <mat-chip class="add-chip" matTooltip="Add a user to this appointment" matTooltipPosition="right" (click)="openAddAttendeeDialog()">
        <mat-icon class="">person_add</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </mat-card-actions>
</mat-card>