@import "src/app/sass/breakpoints.scss";

mat-card-title {
  max-height: 24px;
  overflow: hidden;
}

.appointment-list-item {
  margin: $m;
}

.header-image {
  background-size: cover;
}

.attendee-avatar {
  border-radius: 50%;
  height: 26px;
}

.grow {
  max-height: 52px;
  min-height: 52px;
  overflow: hidden;
}

@media (max-width: $small) {
  .grow {
    max-height: 100px;
    min-height: 100px;
  }
}

.rounded {
  margin-right: 8px;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  margin-left: -9px;
}

.calendar-icon {
  margin-right: $xs;
}

.add-chip {
  background-color: #ffffff0d;
  color: #fffff838;
}

.btn-group {
  margin: $m 0;
  .add-event-btn {
    margin-right: $s;
  }
}

.popover :hover {
  background-color: #444444;
}