<div [@fadeIn]>
  <app-toolbar [toggleState]="sidenavOpened" (sideNavToggle)="sidenav.toggle()"></app-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav position="start" class="side-nav" [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="mobileQuery.matches ? false : sidenavOpened">

      <mat-nav-list>
        <a mat-list-item (click)="navigateAppointments()">
          <mat-icon>assignment</mat-icon>
          Appointments
        </a>
        <a mat-list-item (click)="navigateContacts()">
          <mat-icon>contacts</mat-icon>
          Contacts
        </a>
        <a mat-list-item (click)="navigateCalendar()">
          <mat-icon>calendar_today</mat-icon>
          Calendar
        </a>
      </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content" aria-label="main-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>